[Unit]
Description=Fault Management System
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/fmd
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/sbin/fmd -k
PrivateTmp=true

[Install]
WantedBy=multi-user.target
